<div class="header-image">
	<div class="container">
		<h1>
			About Justin's Loops
		</h1>
    <div class="about">
      <p>
        Hey. Welcome to this blog. The names Justin and I play guitar quite annoyingly. I pretty 
        much made this site to practice Angular but also wanted to have a little fun programming.
        I will be posting two kinds of content on this site, blog posts with some jams I created, 
        and album discussions. </p>

      <p>
        You see, I got a thing for loops and delay 
        and usually spend hours creating some pretty cool 
        atmospheric tracks that I'd love to share here. 
        These tracks are all live and have zero production. 
        Just me messing around with my pedals.
      </p>

      <h3>Home Page</h3>
      <p>
        On the home page, you will find posts consisting of embedded (Yes I am lazy)
        Youtube videos of my bops. From there I may comment on the song I created and
        possibly even add some artwork that I feel fits the song. There is an archive that contains
        all of the blog posts as well. Feel free to contact me for whatever odd reason by
        clicking the contact link in the header. From there a form will display and I think
        you can figure out the rest.
      </p>

      <h3>My Music Page</h3>

      <p>The second kind of posts I will be making on this site are found 
        in the MyMusic link (guess where that is located?)
        These posts will consist of me posting an album I really like
        and me just geeking out over the music I love. Eventually I may
        add more user interaction like comments but that is up to father
        time.
      </p>

      <p>I apologize in advance for either 
        putting you to sleep or giving you a headache with my loops.
        
        PS: Looking for criticism on my code (Hence the contact form) so if
        by gods grace more then 5 people actually view this blog and one of you 
        happens to know your stuff, lemme know how bad this site is and what I
        should improve. Much love - Justin :)
      </p>
    </div>
	</div>
</div>